# Ignore personal IDE configuration
.idea/

# ignore build folder
build/
# ignore bundle.js
Public/scripts/bundle.js

# Ignore npm modules
node_modules/

# Ignore generated bundle file
client/public/scripts/*Bundle.js